@import "reset.css";
body {
  background: url('배경화면.png') no-repeat center center fixed;
  min-height: 100%;

  width: 100%;
  height: auto;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding: 3.4722vw 0.0000vw;
}

.canvas {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0 0.4vw 0.6vw rgba(50, 50, 93, 0.11), 0 0.1vw 0.3vw rgba(0, 0, 0, 0.08);
}

.controls {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__btns {
  margin-bottom: 0.5vw;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 1vw 0vw;
  width: 5vw;
  text-align: center;
  border-radius: 2vw;
  box-shadow: 0 0.6vw 0.3vw rgba(50, 50, 93, 0.11), 0 1vw 3vw rgba(0, 0, 0, 0.08);
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1vw;
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0.5vw 0.2vw rgba(50, 50, 93, 0.11), 0 0.3vw 0.9px rgba(0, 0, 0, 0.08);
}

.controls .controls__range {
  margin-bottom: 1vw;
}

.mong {
  position: absolute;
  width: 17%;
  height: auto;
  top: 28%;
  right: 13%;
}

.mention1 {
  position: absolute;
  right: 57%;
  top: 4%;

  font-family: SeoulNamsanM;
  font-style: normal;
  font-weight: bolder;
  
  font-size: 1.4vw;
  text-align: center;
  line-height: 1.7vw;
  color: #2CA56F;

}

.mention2 {
  position: absolute;
  right: 40%;
  top: 4%;

  font-family: SeoulNamsanM;
  font-style: normal;
  
  font-size: 1.4vw;
  text-align: center;
  line-height: 1.7vw;
  color: #818181;
  font-weight: bolder;

}

#before {
  position: absolute;
  width: 10%;
  height: 8.5%;
  left: -1%;
  top: 80%;
  
  background-color: rgba(239, 106, 106, 0.96);
  box-shadow: 0.0000vw 0.2778vw 0.2778vw rgba(0, 0, 0, 0.25);
  border-radius: 0vw 1.5vw 1.5vw 0vw;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  text-align: center;

  color: #FFFFFF
}

#before:hover {
  background-color: rgba(116, 51, 51, 0.96);
}
  

#next {
  position: absolute; 
  width: 10%;
  height: 8.5%;
  right: 0%;
  top: 80%;
 
  background-color: #2fd98e;
  box-shadow: 0.0000vw 0.2778vw 0.2778vw rgba(0, 0, 0, 0.25);
  border-radius: 1.5vw 0vw 0vw 1.5vw;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  text-align: center;

  color: #FFFFFF
} 

#next:hover{
  background-color: #18744c;
}