body {
    background: url('배경화면.png') no-repeat center center fixed;
    min-height: 100%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

.mong {

    position: absolute;
    width: 17%;
    height: auto;
    top: 5%;
    right: 7%;
}

.box{
    position: absolute;
    width: 52%;
    height: 60%;
    left: 21%;
    top: 15%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
}

.mention1 {
    position: absolute;
    right: 54%;
    top: 4%;

    font-family: SeoulNamsanM;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;

    color: #3B6955;
}

.mention2 {
    position: absolute;
    right: 30%;
    top: 4%;

    font-family: SeoulNamsanM;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;

    color: #818181;
}

#before {

    
    position: absolute;
    width: 10%;
    height: 8.5%;
    left: -1%;
    top: 80%;
    
    background-color: rgba(239, 106, 106, 0.96);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0vw 1.5vw 1.5vw 0vw;


    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    text-align: center;
    
    color: #FFFFFF;
}

#before:hover {
    background-color: rgba(116, 51, 51, 0.96);
}
    

#next {

   
    position: absolute;
    width: 10%;
    height: 8.5%;
    right: 0%;
    top: 80%;
   
    background-color: #2FD98E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5vw 0vw 0vw 1.5vw;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    text-align: center;
    
   
   color: #FFFFFF;


} 

#next:hover{
    background-color: #18744c;
}

#color button{

    position: absolute;
    width: 2.9%;
    height: 6%;
    border-radius: 50%;
    top: 81%;

}

#red{
    background-color: red;
    color: red;
    left: 23.4%;
}

#pink{
    background-color: pink;
    color: pink;
    left: 26.35%;
}
#orange{
    background-color: orange;
    color: orange;
    left: 29.3%;
}

#yellow{
    background-color: yellow;
    color: yellow;
    left: 32.25%;
}

#lightgreen{
    background-color: lightgreen;
    color: lightgreen;
    left: 35.2%;
}

#green{
    background-color: green;
    color: green;
    left: 38.15%;
}

#skyblue{
    background-color: lightblue;
    color: lightblue;
    left: 41.1%;
}

#blue{
    background-color: blue;
    color: blue;
    left: 44.05%;
}

#navy{
    background-color: navy;
    color: navy;
    left: 47%;
}

#purple{
    background-color: purple;
    color: purple;
    left: 49.95%;
}

#white{
    background-color: white;
    color: white;
    left: 52.9%;
}

#black{
    background-color: black;
    color: black;
    left: 55.85%;
}

#peach{
    background-color: peachpuff;
    color: peachpuff;
    left: 58.8%;
}

.pencil{
    width: 2.9%;
    height: auto;
    top: 81%;
    left: 63%;
    position: absolute;
}

.eraser{
    width: 2.9%;
    height: auto;
    top: 81%;
    left: 67%;
    position: absolute;
}