<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>도담도담</title>
    <link rel="stylesheet" href="{%static 'join.css' %}">
    <style>
        @font-face {
            font-family: 'SeoulNamsanM';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>

<body>

    <div class="box"></div>

    <p class="mention1">회원가입</p>

    <div class="line"></div>

    <div class="back"></div>

    <button id="box1">프로필 사진</button>
    <button id="box2">사용자ID</button>
    <button id="box3">비밀번호</button>
    <button id="box4">비밀번호 재확인</button>
    <button id="box5">보호자 이름</button>
    <button id="box6">아이 이름</button>
    <button id="box7">아이 생년월일</button>
    <button id="box8">이메일</button>

    <!-- <input type="text" name="write2" id="write2">
    <input type="text" name="write3" id="write3">
    <input type="text" name="write4" id="write4">
    <input type="text" name="write5" id="write5">
    <input type="text" name="write6" id="write6">
    <input type="text" name="write7" id="write7">
    <input type="text" name="write8" id="write8">

    <a href="{% url 'login' %}"><button id="check">회원가입완료</button></a> -->

    <form method="POST" action="{% url 'dodam_app:join' %}">
        {% csrf_token %}
        <!-- username: -->
        <br>
        <input name="username" type="text" value="" id="write2" placeholder="    사용자 ID를 입력해주세요."> 
        <br>
        <!-- Password: -->
        <br>
        <input name="password1" type="password1" value="" id="write3" placeholder="    사용자 PASSWORD를 입력해주세요.">
        <br>
        <!-- Confirm Password: -->
        <br>
        <input name="password2" type="password2" value="" id="write4" placeholder="    사용자 PASSWORD를 한번 더 입력해주세요.">
        <br>
        <!-- guardian name: -->
        <br>
        <input name="guardian name" type="text" value="" id="write5" placeholder="    보호자 이름을 입력해주세요.">
        <br>
        <!-- child name: -->
        <br>
        <input name="child name" type="text" value="" id="write6" placeholder="    아이 이름을 입력해주세요.">
        <br>
        <!-- birth date: -->
        <br>
        <input name="birth date" type="text" value="" id="write7" placeholder="    아이의 생년월일을 입력해주세요. (YYYY-MM-DD)">
        <br>
        <!-- email: -->
        <br>
        <input name="email" type="text" value="" id="write8" placeholder="    보호자의 이메일을 입력해주세요.">
        <br>
        
        
        <input name="button" type="submit" value="회원가입 완료" id="check">

        

    </form>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="profile"
        viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
    </svg>

    <button id="image">사진등록 및 변경</button>

</body>

</html>