<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Dodam</title>
    <link rel="stylesheet" href="{%static 'login.css' %}">
    <style>
        @font-face {
            font-family: 'SeoulNamsanM';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>

<body>
    <!-- <img src="{%static '도담도담.png' %}" class="dodo" alt="도담도담">
    <p id="idbox"></p>
    <p id="idlet">ID</p>
    <input type="text" placeholder="  아이디" id="idput">

    <p id="pwbox"></p>
    <p id="pwlet">PW</p>
    <input type="text" placeholder="  비밀번호" id="pwput">

    <a href="{% url 'dodam_app:consult' %}"><input type="submit" value="확인" id="check"></a> -->
    {% if error %}
    {{ error }}
    <br>
    <br>
    {% endif %}
    <form method="POST" action="{% url 'dodam_app:login' %}">
        {% csrf_token %}
        username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        <br>
        <input name="button" type="submit" value="login">
    </form>
    <a href="{% url 'dodam_app:join' %}"><button id="subt">회원가입</button></a>
</body>

</html>