<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>도담도담</title>
    <link rel="stylesheet" href="{%static 'mypage.css' %}">
    <style>
        @font-face {
        font-family: 'SeoulNamsanM';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
    </style>
</head>
<body>
    <a href="{% url 'dodam_app:setquest' %}"><button id="home">상담</button></a>

    <img src="{%static '사자.jpg' %}" class="lion">

    <p id="information">- 보호자 이름 : 이두희<br>- 아이 이름 : 이멋사<br>- 아이 생년월일 : 2016년 10월 31일<br>- 이메일 : adultlion@likelion.org</p>

    <a href="{% url 'dodam_app:setquest' %}"><button id="box1">오늘의<br>검사결과</button></a>
    <button id="box2">상담을<br>진행해 주세요</button>
    <button id="box3">상담을<br>진행해 주세요</button>
   
</body>
</html>